.App {
  overflow-y: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #082f63;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #021e43;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "Sunflower";
  src: local("Sunflower"),
    url(../src/assets/fonts/Sunflower.otf) format("opentype");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* path {
  fill: transparent;
} */

/* ICON LINGUAGEM */
/* button > span > svg > path {
  fill: white;
} */

/* ICON PESQUISA */
/* div > div > div > div > div > svg > path {
  fill: white;
} */

/* text {
  fill: #000000;
} */

#text-path-path {
  font-weight: 500;
  font-size: 2.5rem;
}

#text-path-path-bottom {
  fill: white;
  font-weight: 500;
  font-size: 2.5rem;
}

#carrossel {
  width: 100%;
}

/* NAVBAR */

#navbar {
  display: flex;
  animation-name: fade-text;
  animation-duration: 4s;
}

#navbar-item {
  transition: cubic-bezier(0.2, 0.8, 0.2, 1) 0.7s;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

#navbar-item:hover {
  color: #990000;
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
  #navbar {
    display: none;
  }
}

/* MOBILE MENU */
#menu-button-menu-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  #menu-button-menu-mobile {
    display: block;
  }
}

.css-1q6goyk {
  background: transparent !important;
}

.css-1q6goyk:hover {
  background: #01214a !important;
}

.css-1q6goyk:active,
.css-1q6goyk:focus,
.css-1q6goyk[data-active] {
  border: none;
  box-shadow: unset !important;
  background: #01214a !important;
}

/* PRATOS */

#prato {
  transition: ease-out 0.5s;
}

#prato:hover {
  transform: scale(1.05);
}

.icon-styles {
  font-size: 4.55rem;
}

/* ANIMAÇOES HOMEPAGE */

@keyframes fade {
  0% {
    opacity: 0;
    /* margin-top: 30em; */
  }
  100% {
    opacity: 1;
    /* margin-top: 0em; */
  }
}

@keyframes fade-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* HISTÓRIA CONTENT */

.rotativo {
  position: absolute;
  left: 90em;
  top: 80em;
  width: 12em;
  z-index: 5;
}

.css-gmuwbf {
  opacity: 1;
  /* margin-top: 0em; */
  animation-name: fade;
  animation-duration: 2.5s;
}

.css-1eo422n {
  opacity: 1;
  animation-name: fade-text;
  animation-duration: 2.5s;
}

#content-historia {
  animation-name: fade-text;
  animation-duration: 2.5s;
}

.content {
  opacity: 1;
  transform: scale(1);
  transition: cubic-bezier(0.4, 0, 1, 1) 1s;
}

.content-hidden {
  opacity: 0;
  /* transform: scale(1.1); */
}

.css-8atqhb {
  width: 100%;
  margin-top: -10em;
  z-index: 6;
  position: relative;
  /* transform: scaleY(-1); */
}

.ondas {
  background-image: url("../src/assets/images/ondas2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* CARROSSEL */

.react-multi-carousel-item {
  transition: ease-in-out 0.5s;
}

.react-multi-carousel-item:hover {
  transform: scale(1.05);
}

/* DROPDOWN */

.css-r6z5ec {
  z-index: 5 !important;
}

/* PRATOS */

.content-prato1 {
  opacity: 1;
  animation-delay: 1s;
  transform: scale(1);
  transition: cubic-bezier(0.4, 0, 1, 1) 5s;
}

.content-prato2 {
  opacity: 1;
  animation-delay: 0.2s;
  transform: scale(1);
  transition: cubic-bezier(0.4, 0, 1, 1) 7s;
}

.content-prato3 {
  opacity: 1;
  animation-delay: 1.5s;
  transform: scale(1);
  transition: cubic-bezier(0.4, 0, 1, 1) 2s;
}

/* FOOTER */

.content-footer-hidden {
  opacity: 0;
  margin-inline: 40em;
}

.content-footer {
  opacity: 1;
  margin-inline: 0em;
  transition: cubic-bezier(0.4, 0, 1, 1) 1.5s;
}

.icon-styles {
  font-size: 2.5rem;
}
/* PRODUTOS */

.tipo-produtos {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.tipo-produtos:hover {
  transform: scale(1.02);
}

.hover12 figure {
  background: #000000;
  text-align: center;
  position: relative;
}
.hover12 figure #produto-img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover12 figure:hover #produto-img {
  opacity: 0.5;
}

figure:hover .inText {
  color: white;
}

.inText {
  position: absolute;
  z-index: 2;
  color: transparent;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 500;
  left: 40%;
  top: 35%;
}

/* TYPEWRITER */

/* MUDAR EM MODO RESPONSIVO */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(163, 163, 163, 0);
  }
}
